/*Global Styles*/
body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

img{
  max-width: 100%
}

p{
  font-size: 1.2em;
  font-weight: 300;
  color: #5d5c5c;
}

.clearfix-form{
  padding-bottom: 0.7em;
}

.mighty-home-content-beautifier{
  padding: 0;
}
@media screen and (min-width: 768px){
  .mighty-home-content-beautifier{
    padding: 3em 0 0 0;
  }
}

.mobile-images{
  display: none;
}
@media screen and (min-width: 992px){
  .mobile-images{
    display: block;
  }
}

.highlighted{
  padding: 6em 0;
  background: #fff url('../images/highlithed-bg.jpg') no-repeat center;
  background-size: cover;
}

.highlighted h2{
  color:#fff;
}

.highlighted p{
  color: #fff !important;
}

.fa-highlighted {
  color: #fff;
  font-size: 3em;
  padding-bottom: 0.3em;
}

/*Mighty Navigation*/
.mighty-navbar{
  background: #fff;
  border-width: 0;
  border-bottom: 1px solid #0085c4;
  /*Shadow*/
  -webkit-box-shadow: 0px 2px 12px 0px rgba(143,143,143,0.6);
  -moz-box-shadow: 0px 2px 12px 0px rgba(143,143,143,0.6);
  box-shadow: 0px 2px 12px 0px rgba(143,143,143,0.6);
}

.mighty-navbar-brand {
  float: left;
  height: 50px;
  padding: 5px;
  font-size: 18px;
  line-height: 20px;
}

.mighty-navbar .navbar-nav>li>a {
    color: #0085c4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
}

.mighty-navbar .navbar-toggle {
    border-color: #fff;
}

.mighty-navbar .navbar-toggle:focus,
.mighty-navbar .navbar-toggle:hover {
    background-color: #fff;
}

.mighty-navbar .navbar-toggle .icon-bar {
    background-color: #0085c4;
}

/*Mighty Header*/
.mighty-header{
  margin-top: 50px;
  padding-bottom: 2em;
  background: #ccc url('../images/mighty-bg.jpg') no-repeat center;
  background-size: cover;
}
@media screen and (min-width: 768px){
  .mighty-header{
    padding-bottom: 0;
  }
}

.mighty-msg{
  padding-top: 12%;
  padding-left: 10%;
}

.mighty-msg h1{
  color:#fff;
  font-weight: 900;
  font-size: 3em;
  line-height: 90%;
  text-shadow: 2px 2px #3b3b3b;
}

/*Mighty Subheader*/
.mighty-subheader{
  margin-top: 50px;
  padding: 4em 0;
  background: #0085c4 url('../images/mighty-subheader-bg.png');
}

.mighty-submsg h1{
  color:#fff;
  font-weight: 900;
  font-size: 3em;
  line-height: 90%;
}

.mighty-subheader p{
  color: #fff;
}

/*Mighty Header Status*/
.mighty-header-status{
  margin-top: 50px;
  padding: 2em 0;
  background: #0085c4 url('../images/mighty-subheader-bg.png');
}

.mighty-header-status label{
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.mighty-header-status-btn{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  width: 100%;
  margin-bottom: 0.5em;
}

.mighty-header-status-btn:hover{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  background: #fff;
  border: 2px solid #fff;
  color: #0085c4;
  width: 100%;
}

/*Progress Bar*/
.loading{
  margin-bottom: 0.5em;
  top: calc(50% - 12px);
  top: -webkit-calc(50% - 12px);
  left: calc(50% - 145px);
  left: -webkit-calc(50% - 145px);
}

#progress_message{
  display: block;
  background: rgba(40,43,52,0.9);
  box-shadow: 0 5px 10px #000;
  position: absolute;
  top: 0px;
  left: 347px;
  width: 300px;
  height: 60px;
  z-index: 201;
  font-family: Arial;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  text-shadow: 0 1px 0 #000;
  padding: 10px;
  padding-top: 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.progress{
  width: 100%;
  height: 28px;
  border-radius: 14px;
  background: #3b3b3b;
  padding: 1px;
  margin: 0;
  border: 1px solid #1A1C21;
  box-shadow: inset 0 0 3px #222, 0 1px 0 #484848;
}

.progress_bar{
  width: 0;
  height: 25px;
  border-radius: 13px;
  border: 1px solid #2A2B2F;
  box-shadow: inset 0 1px 0 #4dc8db, 0 1px 0 #393C45;
  padding: 0;
  margin: 0;
  /*Gradient*/
  background: rgba(71,197,255,1);
  background: -moz-linear-gradient(top, rgba(71,197,255,1) 0%, rgba(37,157,216,1) 34%, rgba(0,112,173,1) 72%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,197,255,1)), color-stop(34%, rgba(37,157,216,1)), color-stop(72%, rgba(0,112,173,1)));
  background: -webkit-linear-gradient(top, rgba(71,197,255,1) 0%, rgba(37,157,216,1) 34%, rgba(0,112,173,1) 72%);
  background: -o-linear-gradient(top, rgba(71,197,255,1) 0%, rgba(37,157,216,1) 34%, rgba(0,112,173,1) 72%);
  background: -ms-linear-gradient(top, rgba(71,197,255,1) 0%, rgba(37,157,216,1) 34%, rgba(0,112,173,1) 72%);
  background: linear-gradient(to bottom, rgba(71,197,255,1) 0%, rgba(37,157,216,1) 34%, rgba(0,112,173,1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47c5ff', endColorstr='#0070ad', GradientType=0 );
}

#prog_status{
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial;
  text-shadow: 0 -1px 0 #191A1E;
}

/*Mighty Form*/
.mighty-header-form-wrapper{
  margin: 0;
  border-radius: 10px;
  border: 1px solid #0075ac;
  /*Gradiendt*/
  background: rgba(0,134,196,1);
  background: -moz-linear-gradient(top, rgba(0,134,196,1) 0%, rgba(42,161,216,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,134,196,1)), color-stop(100%, rgba(42,161,216,1)));
  background: -webkit-linear-gradient(top, rgba(0,134,196,1) 0%, rgba(42,161,216,1) 100%);
  background: -o-linear-gradient(top, rgba(0,134,196,1) 0%, rgba(42,161,216,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,134,196,1) 0%, rgba(42,161,216,1) 100%);
  background: linear-gradient(to bottom, rgba(0,134,196,1) 0%, rgba(42,161,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086c4', endColorstr='#2aa1d8', GradientType=0 );
  /*Shadow*/
  -webkit-box-shadow: 0px 3px 24px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 24px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 24px -4px rgba(0,0,0,0.75);
}
@media screen and (min-width: 768px) {
  .mighty-header-form-wrapper{
    margin: 1.5em;
  }
}

.mighty-header-form-header{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding-top: 1em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid #0075ac;
  /*Gradient*/
  background: rgba(42,161,216,1);
  background: -moz-linear-gradient(top, rgba(42,161,216,1) 0%, rgba(0,134,196,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,161,216,1)), color-stop(100%, rgba(0,134,196,1)));
  background: -webkit-linear-gradient(top, rgba(42,161,216,1) 0%, rgba(0,134,196,1) 100%);
  background: -o-linear-gradient(top, rgba(42,161,216,1) 0%, rgba(0,134,196,1) 100%);
  background: -ms-linear-gradient(top, rgba(42,161,216,1) 0%, rgba(0,134,196,1) 100%);
  background: linear-gradient(to bottom, rgba(42,161,216,1) 0%, rgba(0,134,196,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa1d8', endColorstr='#0086c4', GradientType=0 );
}

.mighty-header-form-header h2,
.mighty-header-form-header h3{
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}

.mighty-header-form-header h2{
}


.mighty-header-form-header h3{
  font-weight: 300;
}

.mighty-header-form-body{
  padding: 0.5em 1em 0.5em 1em;
}

.mighty-header-form-body label{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color:#fff;
}

.mighty-header-form-btn{
  width: 100%;
  font-size: 1.5em;
  background: #36c000;
  border-bottom: 3px solid #1e6800;
  color:#fff;
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
}

/*mighty rewards*/
.mighty-rewards{
  font-family: 'Oswald', sans-serif;
  background: #f5f5f5 url('../images/rewards-bg.png');
  padding: 2em 0;
  /*padding: 0.6em 0;*/
  text-align: center;
}

@media screen and (min-width: 768px){
  .mighty-rewards{
    padding: 0.6em 0;
  }
}

.mighty-rewards h3{
  color: #3b3b3b;
  margin-top: 0.6em;
  font-weight: 300;
}

.mighty-rewards-btn{
  background: transparent;
  border:2px solid #3b3b3b;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-top: 0.4em;
}

/*mighty home content 1*/
.mighty-home-content-1{
  padding: 3em 0;
  text-align: center;
  background: #fff url('../images/content-1-bg.png') no-repeat center;
  background-size: cover;
}
@media screen and (min-width: 768px){
  .mighty-home-content-1{
    text-align: left;
    padding: 3em 0 0 0;
  }
}

.mighty-home-content-1 h2{
  font-weight: 900;
  color:#3b3b3b;
  font-size: 3em;
  letter-spacing: -2px;
}
@media screen and (min-width: 768px){
  .mighty-home-content-1 h2{
    padding-top: 1.5em;
  }
}

.mighty-home-content-1-btn{
  background: transparent;
  border:2px solid #3b3b3b;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-top: 0.4em;
  font-family: 'Oswald',sans-serif;
}

/*mighty home content 2*/
.mighty-home-content-2{
  padding: 3em 0 0 0;
  text-align: center;
  background: #fff url('../images/content-2-bg.png') no-repeat center;
  background-size: cover;
}
@media screen and (min-width: 768px){
  .mighty-home-content-2{
    text-align: left;
  }
}

.mighty-home-content-2 h2{
  font-weight: 900;
  color:#3b3b3b;
  font-size: 3em;
  letter-spacing: -2px;
}
@media screen and (min-width: 768px){
  .mighty-home-content-2 h2{
    padding-top: 1.5em;
  }
}

.mighty-home-content-2-btn{
  background: transparent;
  border:2px solid #3b3b3b;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 1em 0;
  font-family: 'Oswald',sans-serif;
}

/*mighty home content 3*/
.mighty-home-content-3{
  padding: 3em 0 0 0;
  text-align: center;
  background: #fff url('../images/content-1-bg.png') no-repeat center;
  background-size: cover;
}
@media screen and (min-width: 768px){
  .mighty-home-content-3{
    text-align: left;
  }
}

.mighty-home-content-3 h2{
  font-weight: 900;
  color:#3b3b3b;
  font-size: 3em;
  letter-spacing: -2px;
}
@media screen and (min-width: 768px){
  .mighty-home-content-3 h2{
    padding-top: 1.5em;
  }
}

.mighty-home-content-3-btn{
  background: transparent;
  border:2px solid #3b3b3b;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 1em 0;
  font-family: 'Oswald',sans-serif;
}

/*Mighty Lobby Filters*/
.mighty-lobby-filters{
  background: #f5f5f5;
  border-bottom: #ccc;
}

.mighty-lobby-filters ul{
  list-style: none;
  padding: 0;
  padding: 1em 0;
  margin-bottom: 0;
}

.mighty-lobby-filters ul li{
  display: inline;
  text-transform: uppercase;
}

.mighty-lobby-filters ul li a{
  color: #3b3b3b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  margin-left: 1em;
}

.mighty-lobby-filters ul li a:hover{
  text-decoration: none;
  color:#0085c4;
}

a.mighty-lobby-filters-active{
  color: #0085c4 !important;
  border-bottom: 3px solid #0085c4;
  padding-bottom: 15px;
}

/*Mighty Search*/
.mighty-search-bar{
  padding-bottom: 1em;
}

/*Mighty Surveys*/
.mighty-surveys{
  padding: 1em 0 3em 0;
  background: url('../images/general-bg.png')
}

#mighty-surveys-table{
  background: #fff;
  border: 1px solid #d9d9d9;
}

#mighty-surveys-table thead{
  font-family: 'Oswald', sans-serif;
  background: #0085c4;
}

#mighty-surveys-table thead th{
  color: #fff;
  font-weight:300;
  text-transform: uppercase;
  border-bottom: none;
}

#mighty-surveys-table tbody{
  font-weight: 300;
}

.mighty-surveys-btn{
  font-family: 'Oswald', sans-serif;
  color:#fff;
  text-transform: uppercase;
  background: #36c000;
  border-bottom: 3px solid #1e6800;
  float: right;
}

/*Mighty Login*/
.mighty-login{
  background: url('../images/login-bg.jpg') no-repeat center;
  background-size: cover;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.mighty-login-panel{
  margin-top: 40%;
  border: 1px solid #0085c4;
  /*Gradiendt*/
  background: rgba(0,134,196,1);
  background: -moz-linear-gradient(top, rgba(0,134,196,1) 0%, rgba(42,161,216,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,134,196,1)), color-stop(100%, rgba(42,161,216,1)));
  background: -webkit-linear-gradient(top, rgba(0,134,196,1) 0%, rgba(42,161,216,1) 100%);
  background: -o-linear-gradient(top, rgba(0,134,196,1) 0%, rgba(42,161,216,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,134,196,1) 0%, rgba(42,161,216,1) 100%);
  background: linear-gradient(to bottom, rgba(0,134,196,1) 0%, rgba(42,161,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086c4', endColorstr='#2aa1d8', GradientType=0 );
  /*Shadow*/
  -webkit-box-shadow: 0px 3px 24px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 24px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 24px -4px rgba(0,0,0,0.75);
}

.mighty-login-panel .panel-heading{
  border-bottom: 1px solid #0075ac;
  /*Gradient*/
  background: rgba(42,161,216,1);
  background: -moz-linear-gradient(top, rgba(42,161,216,1) 0%, rgba(0,134,196,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,161,216,1)), color-stop(100%, rgba(0,134,196,1)));
  background: -webkit-linear-gradient(top, rgba(42,161,216,1) 0%, rgba(0,134,196,1) 100%);
  background: -o-linear-gradient(top, rgba(42,161,216,1) 0%, rgba(0,134,196,1) 100%);
  background: -ms-linear-gradient(top, rgba(42,161,216,1) 0%, rgba(0,134,196,1) 100%);
  background: linear-gradient(to bottom, rgba(42,161,216,1) 0%, rgba(0,134,196,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa1d8', endColorstr='#0086c4', GradientType=0 );
}

.mighty-login-panel .panel-body{
      padding: 50px;
}

.mighty-login ul{
  list-style: none;
  padding: 0;
}

.mighty-login ul li{
  display: inline;
}

.mighty-login ul li a{
  font-family: 'Oswald', sans-serif;
  color: #fff;
  margin-right: 1em;
  font-weight: 300;
}

.mighty-login-btn{
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  background: #36c000;
  border-bottom: 3px solid #1e6800;
}

.mighty-login p{
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 0.9em;
  font-weight: 300;
  padding-top: 1em;
}

/*Rewards Page*/
.mighty-rewards-options{
  padding: 3em 0;
  background: url('../images/general-bg.png');
}

.mighty-rewards-options .col-sm-4{
  margin-bottom: 1.5em;
}

.mighty-rewards-options-btn{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #0085c4;
  border: 2px solid #0085c4;
  background: transparent;
  font-size: 1.1em;
  padding-left: 2em;
  padding-right: 2em;
}

.mighty-rewards-options-btn:hover{
  color: #fff;
  border: 2px solid #0085c4;
  background: #0085c4;
}

/*mighty footer*/
.mighty-footer{
  padding: 3em 0;
  text-align: center;
  background: #3b3b3b url('../images/footer-bg.png');
}
@media screen and (min-width: 768px){
  .mighty-footer{
    text-align: left;
  }
}

.mighty-footer ul{
  list-style: none;
  padding: 1em 0 0 0;
}

.mighty-footer ul li a{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #c3c3c3;
}

.mighty-footer p{
    color: #c3c3c3;
    font-family: 'Oswald',sans-serif;
    font-size: 0.9em;
    padding: 5em 0 1em 0;
}
